@use "../variables";
@use 'sass:color';

.input-component {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .buttons {
      display: flex;
    }

    .button-container {
      position: relative;
      display: flex;
      align-items: center;
      margin: 0 5px;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        fill: variables.$white;
        pointer-events: none;
      }
    }
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;

    .row {
      display: inline-block;

      .word-input {
        width: 95%;
        max-width: 255px;
        display: inline-block;
        height: 40px;
        text-align: center;
        outline: none;
        padding: 20px 55px 10px 20px;
        font-size: 42px;
        line-height: 1;
        border: none;
        border-bottom: 2px solid variables.$dark-blue;
        font-family: "Lobster", sans-serif;

        &:focus {
          transform: scale(1.03);
          transition: transform 0.2s ease;
        }

        &::placeholder {
          color: variables.$lighter-blue;
        }
      }

      .button-container {
        display: inline-block;
        margin-left: -45px;
      }
    }
  }

  .buttons {
    margin-top: 40px;

    button {
      margin-inline: 5px;
    }
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: variables.$light-blue;
    color: variables.$white;
    border: none;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &.submit-btn {
      &:hover {
        transform: scale(1.03);
      }
    }

    &:hover {
      background-color: color.adjust(variables.$light-blue, $lightness: -10%);
      transition: all 0.2s ease;
    }

    &:disabled {
      background-color: variables.$gray;
      cursor: not-allowed;
    }
  }

  .error {
    margin-top: 20px;
  }

  .listening {
    margin-top: 20px;
  }

  .loader {
    margin-top: 40px;
  }
}
