@use "variables";

// normalize.css
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

// Merriweather font
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:wght@400;700&display=swap");

// Lobster font
@font-face {
  font-family: Lobster;
  src: url("/fonts/Lobster-Regular.ttf") format("truetype");
  font-weight: 600;
}

// PTSerif regular font
@font-face {
  font-family: PTSerif;
  src: url("/fonts/PTSerif-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: PTSerif;
  src: url("/fonts/PTSerif-Bold.ttf") format("truetype");
  font-weight: 600;
}

* {
  color: variables.$dark-blue;
}

.app {
  font-family: "PTSerif", serif;
  font-size: 1.5em;
  margin: 50px 50px 100px;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    font-family: "Lobster", sans-serif;

    h1 {
      font-size: 72px;
      margin: 0;
    }
  }

  .main {
    line-height: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: 24px;
      line-height: 2rem;
    }

    .response {
      margin-top: 50px;
      line-height: 1.5;
      text-align: left;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}

// mobile
@media screen and (max-width: 650px) {
  .app {
    margin: 20px 20px 100px;
  }
}
